@import url(./reset.css);

:root{
    --black: rgb(77, 87, 90);
    --gunmetal: rgb(44, 52, 55);
    --white-smoke: #f2f4f3ff;
}



header h1{
background-color:var(--black);
color: var(--white-smoke);
text-align: center;
line-height: 7.0rem;
font-weight: normal;
}

figure{
    max-width: 108.0rem;
    margin: 5rem auto;
    border: solid .1rem transparent;
    background-color: var(--black);
    padding: 1rem;
}

figure figcaption{
    text-align: center;
}

figure figcaption h2{
    font-weight: normal;
    line-height: 5rem;
}

footer{
    text-align: center;
}
